*.jl.*.cov
*.jl.cov
lcov.info
*.jl.mem
*.sav
*.old
*.fdb_latexmk
*.gz
/docs/Manifest.toml
Manifest.toml
/docs/build/
/build
/keystore
LocalPreferences.toml
paper.pdf
paper.aux
paper.bbl
paper.blg

/.luarc.json
